/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
	font-family: "Proxima Nova";
	font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

a:visited {
  color: none;
  text-decoration: none;
}

.link{
  text-decoration: none;
}
header {
  background-color: #43c6e8;
  width: 100%;
  padding: 2rem 0;
  /*border-bottom:  1px solid #E4E4E4;*/
}

nav {
  width: 65%;
  margin: auto;
  margin-bottom: 1rem;
}


#user_nav a:hover {
  color: black;
  text-decoration: none;
	border: 1px solid black;
}

#user_nav {
  color: #fff;
  float: right;
  text-decoration: none;
}

#user_nav a {
	color: white;
  text-decoration: none;
  margin: 0 1rem 0 1rem;
	border: 1px solid #fff;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	color: #fff;
}

#logo a {
  color: #fff;
  font-size: 1.75rem;
  float: left;
  text-decoration: none;
}

#logo a:hover {
  color: black;
  text-decoration: none;
}


#title {
  text-align: center;
}

#title h2 {
  color: #black;
  font-size: 1rem;
  margin-bottom: 3rem
}



/*#post {
		width: 65%
		margin: auto;
}*/

#postpost {
  /*border: 1px solid black;*/
  display: flex;
	flex-wrap: wrap;
	margin: auto;
	/*margin-left: 10rem;*/
	/*align: center;*/
	width: 65%
}

.poop {
  background: #F8F9FA;
	border: 1px solid #E4E4E4;
	border-radius: 0.3rem;
  padding-bottom: .3rem;
	margin: auto;
	margin-bottom: 2rem;
}


#image {
  width: 100%;
  border-radius: .3rem .3rem 0 0;
  overflow: hidden;
  /*border-bottom: 1px solid #E4E4E4;*/
}

#description {
  width: 100%;
}

#name {
  /*border: 1px solid black;*/
  /*display: flex;*/
  margin-left: .5rem;
  float: left;
  text-decoration: none;
  /*font-weight: 400;*/
}
#skills {
  /*border: 1px solid black;*/
  /*display: flex;*/
  padding-top: .3rem;
  font-size: .7rem;
  float: right;
  margin-right: .5rem;
}
