// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wraper {
  width: 65%;
  margin: auto;
  // margin-top: 2rem;
  display: flex;
	flex-wrap: wrap;
	margin: 2rem auto;

}

.wraper .profile {
  // border: 1px solid black;
  // float: left;
  margin-right: 2rem;
}

.wraper img {
  // margin-top: 2rem;
  width: 300px auto;
  border-radius: .3rem;
  overflow: hidden;
  margin-bottom: .8rem;
}

.wraper .profile p {
  font-size: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #E4E4E4;
}

.reviews {
  border: 1px solid #E4E4E4;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
  // margin-left: 2rem;
  // float: left;
  width: 43.8rem;
  margin-bottom: 5rem;
}

.reviews h1 {
  margin: 0 1rem 1rem 1rem;
  margin-top: 2rem;
  font-size: 2rem;
  // border-bottom: 1px solid #E4E4E4;
  padding-bottom: 1rem;
}


.reviews p {
  margin-top: 1rem;
  margin-left: 3rem;
  padding: 1rem 0 1rem 0;
  font-size: 1rem;
}

.reviews time {
  font-size: .8rem;
  color: light gray;
}

.reviews .divide {
  // border: 1px solid black
  margin: 0 1rem 0 1rem;
  border-top: 1px solid #E4E4E4;
}


.reviews form {
  // font-size: 1rem;
  // margin: 3rem 0 3rem 3rem;
  margin: 2rem 1.5rem 3rem 2rem;
  // margin-top: 3rem;
}

.reviews #formtitle {
  border-top: 1px solid #E4E4E4;
  margin: 0 1.5rem 0 1.5rem;

}

.reviews #formtitle h3 {
  margin-left: 3rem;
}


.profile #button {
  margin-top: 2rem;
}

.profile #button a {
  color: white;
  text-decoration: none;
  background-color: #43c6e8;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
  font-size: 1rem;
}


.profile #button a:hover {
	background-color: #E4E4E4;
}
