// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wraper {
  width: 65%;
  margin: auto;
  margin-top: 2rem;
}

.wraper .profile {
  // border: 1px solid black;
  float: left;
}

.wraper img {
  // margin-top: 2rem;
  width: 300px auto;
  border-radius: .3rem;
  overflow: hidden;
}

.wraper .profile p {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #E4E4E4;
}

.reviews {
  border: 1px solid #E4E4E4;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
  margin-left: 2rem;
  float: left;
  width: 69.8%;
  margin-bottom: 5rem;
}

.reviews h1 {
  font-size: 2rem;
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 1rem;
}


.reviews p {
  margin-left: 2rem;
  padding: 1rem 0 1rem 0;
}

.reviews time {
  font-size: .8rem;
  color: light gray;
}

.reviews .divide {
  // border: 1px solid black
  border-bottom: 1px solid #E4E4E4;
}


.reviews form {
  margin: 2rem 0 2rem 2rem;
}

.profile #button {
  margin-top: 2rem;
}

.profile #button a {
  color: #E4E4E4;
  text-decoration: none;
	border: 1px solid #E4E4E4;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
}


.profile #button a:hover {
  color: black;
  text-decoration: none;
	border: 1px solid black;
}
